#root, html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.app{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url('https://source.unsplash.com/1600x950/?city');
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advice{
    background-color: white;
    min-width: 40%;
    height: 20%;
    padding: 2%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content:  center;
}