.container{
  position: relative;
  display: flex;
  height: 100%;
}

.app {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://source.unsplash.com/1600x950/?city");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar {
  &-open {
    position: absolute;
    top: 25px;
    right: 25px;
    
    & button{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 0;
      background-color: #fff;
      transition: all 0.35s ease;

      box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
      cursor: pointer;

      &:hover {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
      }

      &:active {
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 80%;
    height: 30%;
  }
}