#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar{
  width: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: grey;
  border-radius: 1rem;
}